version: '3'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181

  kafka:
    image: confluentinc/cp-kafka:latest
    restart: always
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  nginx:
    image: nginx:latest
    restart: always
    ports:
      - '8080:80'
    volumes:
      - ./nginx-config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx-config/api_conf.d/:/etc/nginx/api_conf.d/:ro
      - ./nginx-config/api_backends.window.conf:/etc/nginx/api_backends.conf:ro
      - ./nginx-config/api_gateway.conf:/etc/nginx/api_gateway.conf:ro
      - ./nginx-config/api_json_errors.conf:/etc/nginx/api_json_errors.conf:ro
      - ./nginx-config/api_keys.conf:/etc/nginx/api_keys.conf:ro
    # extra_hosts:
    #   - '${HOST_NAME}:${HOST_GATEWAY}'
    networks:
      - socialnetwork_backend
  user-db:
    image: mysql:8.0.30
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - '3306:3306'
    networks:
      - socialnetwork_backend
    volumes:
      - ./data/user-db:/var/lib/mysql
  auth-db:
    image: mysql:8.0.30
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - '3307:3306'
    networks:
      - socialnetwork_backend
    volumes:
      - ./data/auth-db:/var/lib/mysql
  post-db:
    image: mysql:8.0.30
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - '3308:3306'
    networks:
      - socialnetwork_backend
    volumes:
      - ./data/post-db:/var/lib/mysql
  adminer:
    image: adminer
    restart: always
    ports:
      - 8000:8080
    networks:
      - socialnetwork_backend

networks:
  socialnetwork_backend:
    ipam:
      driver: default
      config:
        - subnet: ${HOST_SUBNET}
          gateway: ${HOST_GATEWAY}
# https://datatracker.ietf.org/doc/html/rfc1918
